<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216844458270-qcb81rs7tboutghvoa9f14asrmmfjmqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216844458270-qcb81rs7tboutghvoa9f14asrmmfjmqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBMoxFWhdCb7cJg4hu8RM_uwsbyvYC7B6A</string>
	<key>GCM_SENDER_ID</key>
	<string>216844458270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zainbudhwani.FoodSocialMedia</string>
	<key>PROJECT_ID</key>
	<string>foodsocialmedia-fa4a9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsocialmedia-fa4a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216844458270:ios:3c55e1f93c39327c</string>
	<key>DATABASE_URL</key>
	<string>https://foodsocialmedia-fa4a9.firebaseio.com</string>
</dict>
</plist>